<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" data-ng-click="cancel();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal-title">Reviews for ( {{article.title}} )</h3>
</div>
<div class="modal-body" style="min-height:200px;" dw-loading="getReviews" dw-loading-options="{active: true}">
 <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#reviewsp" role="tab" data-toggle="tab">Reviews</a></li>
    <li data-ng-show="user.has_perm('articles.add_articlereview')"><a href="#reviewsw" role="tab" data-toggle="tab">Write Review{{user.}}</a></li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <!--list reviews-->
    <div class="tab-pane active" id="reviewsp" >
    <div list-reviews article="article"></div>
    </div>
    
    <!--write review-->
    <div class="tab-pane" id="reviewsw" data-ng-show="user.has_perm('articles.add_articlereview')">
      <div write-reviews article="article"></div>
    </div>
  </div>

</div>

<script type="text/ng-template" id="listReview.html">
<div class="panel panel-default panel-owj">
  <div class="panel-body" dw-loading="reviews" dw-loading-options="{text: 'Loading users...'}">
      <accordion close-others="true">
        <accordion-group data-ng-repeat="review in reviews">
          <accordion-heading >
            <div class="row">
            <div class="col-sm-6 col-xs-12">
              <span class="">{{review.reviewer.name}} <small class="">{{review.reviewer.role | lowercase}}</small></span>
             
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="row">
              <span class="col-xs-5  col-md-3 col-md-offset-3 status">{{review.recommendation | uppercase }}</span>
              <span class="col-xs-5 col-sm-5 col-md-4 col-md-offset-1 date">{{ review.created | date : 'd MMM yyyy' }}</span>
              <span class="col-xs-2 col-md-1"><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></span>
              </div>
            </div>
            </div>
          </accordion-heading>
          {{review.comment}}
        </accordion-group>
      </accordion>
      
      <div data-ng-show="noreviews" class="well text-center">
        <p>No Reviews on this article.</p>
      </div>
      
  </div>
</div>
</script>

<script type="text/ng-template" id="writeReview.html">
<div class="panel panel-default panel-owj">
  <div class="panel-body">
  
    <blockquote>
      <p>Use this form to write your review on the Manuscript below.</p>
    </blockquote>
    
    <form class="form-horizontal" novalidate role="form" id="review-form" name="reviewForm" ng-submit="submitReview(item)">
      <div class="form-group">
        <label for="blind_comment" class="col-sm-3 control-label col-xs-10">Blind Comments: </label>
        <div class="col-sm-9 col-xs-12">
          <textarea class="form-control" id="comment" name="comment" data-ng-model="item.comment" rows='6' required></textarea>
          <span data-ng-show="formErrors && reviewForm.comment.$invalid" class="text-danger pull-right small"> This field is required</span>
        </div>
        
      </div>
      <div class="form-group">
        <label for="abstract" class="col-sm-3 control-label col-xs-10">Recommendation: </label>
       
        <div class="col-sm-2 col-xs-12 ">
          <select name="recommendation" data-ng-model="item.recommendation" class="form-control" required>
            <option value="" selected="selected">---------</option>
            <option value="accepted">Accepted</option>
            <option value="rejected">Rejected</option>
            <option value="revise">Revise</option>
          </select>
        </div>
        <span data-ng-show="formErrors && reviewForm.recommendation.$invalid" class="text-danger small"> This field is required</span>
        <span data-ng-show="formErrors && reviewForm.recommendation.$error.abc" class="text-danger small"> This field is required</span>
      </div>
    
      <div class="form-group">
          <div id="success-alert" class="col-sm-8 col-xs-12">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
          </div>
          <div class="col-sm-1 col-xs-2" dw-loading="writeReview" ></div>
          <div class="col-sm-3 col-xs-10 text-right">
            <button type="submit" class="btn btn-primary" data-ng-disabled="disableSubmitbutton">
              Save
            </button>
            <button type="button" class="btn btn-warning" ng-click="resetForm()">
              Reset
            </button>
          </div>
          
          
        </div>
    </form>

  </div>
</div>
</script>