<div class="container" style="min-height:200px;" dw-loading="articles" dw-loading-options="{text: 'Loading articles...'}" >
	<table class="table table-striped  table-hover">
		<thead class="text-center thead-owj">
			<td ng-click="orderByField='title'; reverseSort = !reverseSort">
				<strong>Title
					<span ng-show="orderByField == 'title'" class="sort-keys pull-right">
						<i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-down"></i>
            <i ng-show="reverseSort" class="glyphicon glyphicon-chevron-up"></i>
					</span>
				</strong>
			</td>
			<td ng-click="orderByField='created'; reverseSort = !reverseSort">
				<strong>Date Submitted
					<span ng-show="orderByField == 'created'" class="sort-keys pull-right">
						<i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-down"></i>
            <i ng-show="reverseSort" class="glyphicon glyphicon-chevron-up"></i>
					</span>
				</strong>
			</td>
			<td ng-click="orderByField='status_date'; reverseSort = !reverseSort">
				<strong>Status Submitted
					<span ng-show="orderByField == 'status_date'" class="sort-keys pull-right">
						<i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-down"></i>
            <i ng-show="reverseSort" class="glyphicon glyphicon-chevron-up"></i>
					</span>
				</strong>
			</td>
			<td><strong>My Recommendation</strong></td>
			<td><strong>Action</strong></td>
		</thead>
		<tbody class="text-center" >
			<tr data-ng-repeat="article in articles|orderBy:orderByField:reverseSort" >
				<td class="text-left title"><a href=""><a href="{{article.abs_url}}"> {{article.title}}</a></td>
				<td>{{article.created | date:'d MMM yyyy'}}</td>
				<td>{{article.status_date | date:'d MMM yyyy'}}</td>
				<td>{{article.reviews[0].review_status}}</td>
				<td class="action">
					<ul class="list-inline">
				  		<span reviews article="article"></span>
				  	</ul>
				</td>
			</tr>
		</tbody>
	</table>
</div>
