<!--<div data-ng-include="'/static/js/ngapp/tmplts/author/author_header.html'"></div>-->
<div >
  <div class="container" style="min-height:200px;" dw-loading="articles" dw-loading-options="{text: 'Loading users...'}" >
    <table class="table table-striped  table-hover" data-ng-hide="noarticles">
      <thead class="text-center">
        <td ng-click="orderByField='title'; reverseSort = !reverseSort">
        	<strong>Title
        		<span ng-show="orderByField == 'title'">
					<span ng-show="!reverseSort">^</span>
					<span ng-show="reverseSort">v</span>
				</span>
        	</strong>
        </td>
        <td><strong>Authors</strong></td>
        <td ng-click="orderByField='created'; reverseSort = !reverseSort">
        	<strong>Date Submitted
        		<span ng-show="orderByField == 'created'">
					<span ng-show="!reverseSort">^</span>
					<span ng-show="reverseSort">v</span>
				</span>
        	</strong>
        </td>
        <td><strong>Action</strong></td>
      </thead>
      <tbody class="text-center" >
        <tr data-ng-repeat="article in articles|orderBy:orderByField:reverseSort" >
          <td class="text-left title"><a href=""><a href="{{article.abs_url}}"> {{article.title}}</a></td>
          <td><span data-ng-repeat="ext_author in article.ext_authors">{{ext_author.first_name}}{{$last ? '' : ', '}}</span></td>
          <td>{{article.created | date:'d MMM yyyy'}}</td>
          <td class="action">
            <a href="#" tooltip="Request review" ng-click="requestReview(article)"><span class="glyphicon glyphicon-cog"></span></a>            
          </td>
        </tr>                
      </tbody>
    </table>
    <div data-ng-show="noarticles" class="well text-center">
      <p>No Articles Found!</p>
    </div>
  </div>
</div>