<div class="modal-header">
	<h3 class="modal-title">Request to Review</h3>
</div>
<div class="modal-body">
	<div class='alert-danger alert' data-ng-show='errorMsg'>
		{{ errorMsg }}
	</div>
	<div class='alert-success alert' data-ng-show='successMsg'>
		{{ successMsg }}
	</div>
	<div class='alert-info alert' data-ng-show='infoMsg'>
		{{ infoMsg }}
	</div>
	<p data-ng-show="!successMsg && !infoMsg">
		Are you sure, you want to review this article - '{{article.title}}'?
	</p>	
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="sendRequest()" data-ng-show="!successMsg && !infoMsg" ng-disabled="requesting">
		Yes
	</button>
	<button class="btn btn-danger" ng-click="cancel()" data-ng-show="!successMsg && !infoMsg" ng-disabled="requesting">
		No
	</button>

	<button class="btn btn-info" ng-click="cancel()" data-ng-show="successMsg || infoMsg">
		Close
	</button>
</div>