<form class="form-inline pull-right" role="form">
	<div class="form-group">
		<div date-filter-select date="filterForm.date"></div>
		<div reviewer-status-select status="filterForm.status"></div>
	</div>
	<button type="submit" class="btn btn-default btn-primary btn-sm" id="main-searchbtn" data-ng-click="filter()">
		Go
	</button>
</form>