{% extends "_layout/base.html" %}
{% load verbatim %}

{% block meta %}
  <meta name="description" content="{{article.abstract}}">
  <meta name="author" content="{{article.author.get_full_name}}">
  <meta name="keywords" content="{% for keyword in article.key_words.all  %}{{ keyword.name }}{% if not forloop.last %},{% endif %}{% endfor %}">
{% endblock meta %}

{% block page_title %}{{ article.title - }}{% endblock page_title %}


{% block main-container %}
 <!-- Begin page content -->
  <div class="container" >
    <div class="row">
    
      <!-- main content area-->
      <div class="col-md-12 well">
        <div class="page-header row" id="article-details-title">
          <div class="col-md-11">
          <h4 style="color:#000;">{{article.title}}
          </br><small> <a href="">doi: 1099<strong>(we need to get details from Dan)</strong></a><small>
          </h4>
          </div>
          <div class="col-md-1 pull-right">
            <a id="pdf-download-button" href="{{article.pdf_url}}" class="btn btn-lg btn-default owj-tooltip" tooltip="Download Pdf">
              <span class="glyphicon glyphicon-cloud-download"></span>
            </a>
          </div>
        </div>
        
        <div class="panel panel-default panel-borderless ft-nm">
          <div class="panel-heading">
            <div class="panel-title"><h4 class="owj-title">Authors</h4></div>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled">
              {% for author in article.ext_authors.all %}
              <li>{{ author.full_name }} , {{author.affiliation}} {% if not forloop.last %},{% endif %} </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        
        <div class="panel panel-default panel-borderless ft-nm">
          <div class="panel-heading">
            <div class="panel-title"><h4 class="owj-title">Abstract</h4></div>
          </div>
          <div class="panel-body">
            <p>
              {{article.abstract}}
            </p>
          </div>
        </div>
        
        <div class="panel panel-default  panel-borderless ft-nm">
          <div class="panel-heading">
            <div class="panel-title"><h4 class="owj-title">Keywords</h4></div>
          </div>
          <div class="panel-body">
           {% for keyword in article.key_words.all  %}
           <span class="label label-default">{{ keyword.name }}</span>
            {% endfor %}
          </div>
        </div>
        
        
      </div>
    
    </div>
    
    {% if article.is_published %}
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = '{{disqus.shortname}}'; // required: replace example with your forum shortname
        
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  
  </div>
{% endblock main-container %}