{% extends "_layout/base.html" %}

{% block main-container %}
 <!-- Begin page content -->
  <div class="container" >
  	<div class="well col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				{% if status == 'ok' or status == 'warning' %}
					<h2 class="panel-title">Transaction completed.</h2>
				{% endif %}
				{% if status == 'error' %}
					<h2 class="panel-title">Transaction faild.</h2>
				{% endif %}				
			</div>
			<div class="panel-body">
				{% if status == 'ok' %}
				<p class='alert-success alert'>
					   {{msg}}
				</p>
				{% endif %}
				
				{% if status == 'warning' %}
				<p class='alert-warning alert'>
					   {{msg}}
				</p>
				{% endif %}
				
				{% if status == 'error' %}
				<p class='alert-danger alert'>
					   {{msg}}
				</p>
				{% endif %}
			</div>
		</div>
	</div>  	
  </div>
{% endblock main-container %}