{% load cms_tags  %}
<!--sub menu-->
<div class="container-fluid">
  <div class="row well well-sm" id="sub-nav-bar">
    <div class="container">
      <div class="col-md-6 vcenter">
       <ul class="nav nav-pills" id="sub-menu">
          <li class="{% ifnotequal view 'create_article' %}
                        {% ifnotequal view 'author_submissions' %}
                        active
                        {% endifnotequal %}
                    {% endifnotequal %}">
            <a href="{% page_url 'author-instructions' %}" >Instructions</a></li>
          <li class="{% ifequal view 'create_article' %}active{% endifequal %}"><a href="{% url 'create_article' %}" >Submit Article</a></li>
          <li class="{% ifequal view 'author_submissions' %}active{% endifequal %}"><a href="{% url 'author_submissions' %}" >My Submissions</a></li>
        </ul>
      </div><!--dont remove this comment
      --><div class="col-md-6 vcenter" >
        <div data-ng-include="filterTemplate"></div>
      </div>
    </div>
  </div>
</div>