{% load compress %}{% load cms_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="en" data-ng-app="owjApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block meta %}
  		<meta name="description" content="">
  		<meta name="author" content="">
    {% endblock meta %}
    
		<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico">

		{% block title %}
		<title>{% block page_title %}{% endblock page_title %} Open Water Journal</title>
		{% endblock title %}
		
		{% compress css %}
		<!-- Styles for plugins -->
		<link href="{{STATIC_URL}}bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{STATIC_URL}}bower_components/angular-loading/angular-loading.css" rel="stylesheet">
		<link href="{{STATIC_URL}}bower_components/select2/select2.css" rel="stylesheet">

		<!-- Custom styles for this website -->
		<link href="{{STATIC_URL}}css/owj.css" rel="stylesheet">
		{% endcompress %}

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		{% block css %}{% endblock css %}
		{% render_block "css" %}
	</head>
	<body class="owj">
		{% cms_toolbar %}
		{% block body %}
    <div class="wrapper">
		{% block header %}
		{% include "_layout/header.html" %}
		{% endblock header %}

    {% block content %}
		{% block sub-nav %}{% endblock sub-nav %}

		<div class="container-fluid container-base" >
			{% block main-container %}{% endblock main-container %}
		</div>

    {% endblock content %}
		</div>
		<div class="push"></div>
    {% endblock body %}

		{% block footer %}
		<div sticky-footer><div>

		{% endblock footer %}
		
		<script src="{% url 'js_reverse' %}" type="text/javascript"></script>
		{% compress js %}
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{{STATIC_URL}}bower_components/jquery/dist/jquery.min.js"></script>
		<script src="{{STATIC_URL}}js/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
		<script src="{{STATIC_URL}}bower_components/select2/select2.js" type="text/javascript" ></script>
		<script src="{{STATIC_URL}}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<!--angular file upload shim should be added before angularjs-->
		<script src="{{STATIC_URL}}bower_components/angular-file-upload/angular-file-upload-shim.min.js"></script>
		<script src="{{STATIC_URL}}bower_components/angular/angular.min.js"></script>
		<script src="{{STATIC_URL}}bower_components/angular-ui-bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>
		<script src="{{STATIC_URL}}bower_components/angular-file-upload/angular-file-upload.min.js"></script>
		<script src="{{STATIC_URL}}bower_components/angular-cookies/angular-cookies.min.js"></script>
		<script src="{{STATIC_URL}}bower_components/underscore/underscore.js"></script>
		<script src="{{STATIC_URL}}bower_components/restangular/dist/restangular.min.js"></script>
		<script src="{{STATIC_URL}}bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
		<script src="{{STATIC_URL}}bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="{{STATIC_URL}}bower_components/ngsortable/sortable.js"></script>
		<script src='{{STATIC_URL}}bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js'></script>
		<script src='{{STATIC_URL}}bower_components/spin.js/spin.js'></script>
		<script src='{{STATIC_URL}}bower_components/angular-loading/angular-loading.min.js'></script>
		<script src="{{STATIC_URL}}bower_components/angular-ui-select2/src/select2.js" type="text/javascript" ></script>
		<!--angular stap plugin-->
	<!--
		<script src="{{STATIC_URL}}bower_components/angular-strap/dist/angular-strap.min.js"></script>
			<script src="{{STATIC_URL}}bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>-->
	
		<script src="{{STATIC_URL}}js/ngapp/app.js"></script>
		<script src="{{STATIC_URL}}js/ngapp/controllers.js"></script>
		<script src="{{STATIC_URL}}js/ngapp/directives.js"></script>
		<script src="{{STATIC_URL}}js/ngapp/services.js"></script>

		<script src="{{STATIC_URL}}js/owj.js"></script>
		{% endcompress %}
		{% block bottomjs %}{% endblock bottomjs %}
		{% render_block "js" %}
	</body>
</html>