{% load cms_tags sekizai_tags get_setting %}

<nav class="banner navbar navbar-default" role="navigation" id="site-banner">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img id="banner-logo" src="{% get_setting 'logo_banner_url' %}" class="img-responsive"/>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="ft-ty">
     <form class="navbar-form navbar-right" role="search" action="{% url 'issue_search_view' %}">
        <div><div class="pull-right">
        {% if user.is_authenticated %}	
          <ul class="list-inline"><li>Welcome {{user.first_name}}</li>|<li><a href={% url 'auth_logout' %}>Logout</a></li></ul>
        {% else %}
        <ul class="list-inline"><li><a href={% url 'registration_register' %}>Sign Up</a></li>|<li><a href={% url 'owj_login' %}>Sign In</a></li></ul>
        {% endif %}
        
        </div><div class="clearfix"></div></div>
          <div class="form-group">
            <input type="text" class="form-control" name="search" placeholder="Search" id="main-search-input" 
                value="{{request.GET.search}}"/>
          </div>
      </form>      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--main navigation bar -->
<nav class="navbar navbar-default" role="navigation" id="main-menu" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav col-md-12 text-center" >
        <li class="{% ifequal active_nav 'home' %}active{% endifequal %} col-md-2"><a href="{% url 'home' %}"><strong>Home</strong></a></li>
        <li class="{% ifequal active_nav 'article' %}active{% endifequal %} col-md-2"><a href="{% url 'articles' %}"><strong>Articles</strong></a></li>
        <li class="{% ifequal active_nav 'author' %}active{% endifequal %} col-md-2"><a href="{% page_url "author-instructions" %}"><strong>Authors</strong></a></li>
        <li class="{% ifequal active_nav 'reviewer' %}active{% endifequal %} col-md-2"><a href="{% page_url "reviewers-guide" %}"><strong>Reviewers</strong></a></li>
        <li class="{% ifequal active_nav 'about' %}active{% endifequal %} col-md-2"><a href="{% page_url "editorialboard" %}"><strong>About</strong></a></li>
        {% if request.user.can_view_editor_menu %}
        <li class="{% ifequal active_nav 'editor' %}active{% endifequal %}  col-md-2"><a href="{% url 'editor_articles' %}"><strong>Editor</strong></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>