<ul class="nav nav-pills" id="sub-menu">
  <li class="active"><a href="" data-ui-sref="editor_articles">Articles</a></li>
  <li><a href="" data-ui-sref="buildIssue">Build Issue</a></li>
  <li><a href="" data-ui-sref="publishIssue">Publish Issue</a></li>
</ul>