{% extends "_layout/base.html" %}
{% load cms_tags sekizai_tags menu_tags %}

    

{% block sub-nav %}
  <!--sub menu-->
  <div class="container-fluid">
  <div class="row well well-sm" id="sub-nav-bar">
    <div class="container">
    <div class="col-md-6 vcenter">
      
      

        
    </div><!--dont remove this comment
      --><div class="col-md-6 vcenter" data-ng-controller="filtebarCtrl">
        <div data-ng-include="filterTemplate"></div>
      </div>
      
    </div>
  </div>
  </div>
{% endblock sub-nav %}

{% block main-container %}
 {% show_menu_below_id "author-instructions" %}
    

 {% placeholder base_content %}
     {% block base_content %}{% endblock %}
{% endblock main-container %}


 