{% extends "_layout/cmsbase.html" %}
{% load cms_tags sekizai_tags menu_tags %}


{% block cms-content-wrap %}
<div class="row">
  <div class="col-md-2 well left-panel">
    
    <!-- stacked submenu -->
    <div class="row">
      <div class="col-md-12">
        {% show_menu_below_id "editorialboard" 0 100 100 100 "_layout/about_sub_menu.html" %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 well well-sm" id="advert" style="min-height:40px;">
      </div>
    </div>
    
  </div>
  <div class="col-md-10 well">
    
     {% placeholder base_content %}
  </div>      
</div>

{% endblock cms-content-wrap %}
