{% load cms_tags  %}
<!--sub menu-->
<div class="container-fluid">
  <div class="row well well-sm" id="sub-nav-bar">
    <div class="container">
      <div class="col-md-6 vcenter">
       <ul class="nav nav-pills" id="sub-menu">
          <li class="{% ifnotequal view 'reviewer_assignments' %}
                        {% ifnotequal view 'reviewer_biddingpool' %}
                        active
                        {% endifnotequal %}
                    {% endifnotequal %}"><a href="{% page_url 'reviewers-guide' %}" >Review Process</a></li>
          {% if user.is_authenticated %}<!--#TODO: use permissions instead of role checking-->
            {% ifnotequal user.role.name.lower 'author' %}
            <li class="{% ifequal view 'reviewer_assignments' %}active{% endifequal %}"><a href="{% url 'reviewer_assignments' %}" >My Assignments</a></li>
            <li class="{% ifequal view 'reviewer_biddingpool' %}active{% endifequal %}"><a href="{% url 'reviewer_biddingpool' %}" >Paper Bidding</a></li>
            {% endifnotequal %}
          {% endif %}
        </ul>
      </div><!--dont remove this comment
      --><div class="col-md-6 vcenter" >
          <div data-ng-include="filterTemplate"></div>
      </div>
    </div>
  </div>
</div>