{% extends "_layout/cmsbase.html" %}
{% load cms_tags sekizai_tags %}

{% block sub-nav %}
<!--sub menu-->
<div class="container-fluid">
  <div class="row well well-sm" id="sub-nav-bar">
    <div class="container">
      <div class="col-md-6 vcenter">
        <ul class="nav nav-pills" id="sub-menu">
          <li class="active">
            <a href='{% page_url "author-instructions" %}'>Instructions</a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a href="" data-ui-sref="author_createarticle">Submit a Paper</a>
          </li>
          <li>
            <a href="" data-ui-sref="author_submission">My Submissions</a>
          </li>
          {% endif %}
        </ul>

      </div><!--dont remove this comment
      -->
      <div class="col-md-6 vcenter" data-ng-controller="filtebarCtrl">
        <div data-ng-include="filterTemplate"></div>
      </div>
    </div>
  </div>
</div>
{% endblock sub-nav %}
{% block main-container %}

<div data-ng-include=""></div>
{% endblock main-container %}
