{% extends "_layout/cms_author_base.html" %}

    {% block content %}
    <div data-ng-controller="{{ng_controller}}">
    {% block sub-nav %}
      {% include '_layout/author_sub_nav.html' %}
    {% endblock sub-nav %}

    <div class="container-fluid container-base" >
      {% block main-container %}
        <div data-ng-include="'{{ ng_template }}'"></div>
      {% endblock main-container %}
    </div>

    </div>
    {% endblock content %}

