{% extends "_layout/cmsbase.html" %}

{% block content %}
	{% block sub-nav %}
	
	{% endblock sub-nav %}
	<div class="container-fluid container-base" >
		{% block main-container %}
		<div data-ng-include="'{{ ng_template }}'"></div>
		{% endblock main-container %}
	</div>
{% endblock content %}
