{% extends "_layout/cmsbase.html" %}

{% block content %}
<div data-ng-controller="articleListCtrl">
 <!-- Begin page content -->
  <div class="container" >
    <div class="row" data-ng-init="issue={id:'{{issue.id}}',
                title:'{{ issue.title }}',
                vol:'{{ issue.volume.id }}',
                issue_number:'{{ issue.issue_number }}'
                }">
      <!-- right panel -->
      <div class="col-md-3 col-md-push-9 well">
         <!-- Issues panel -->
        <div class="panel panel-default panel-owj">
          <div class="panel-heading">
            <h3 class="panel-title">Browser Issues</h3>
          </div>
          <div class="panel-body">
            <form role="form" class="article-search-form" name="articleSearchForm" action="{% url 'articles' %}">
              <div class="form-group">
                <label> Volume </label>
                
                <select class="form-control" name="volume" data-ng-model="searchForm.volume" data-ng-change="setIssues()" 
                        data-ng-init="searchForm.volume='{{request.GET.volume}}'">
                  <option value="">Select Vol</option>
                  {% verbatim %}
                  <option data-ng-repeat="vol in volumes" value="{{ vol.id }}">{{vol.name}}</option>
                  {% endverbatim %}
                </select>
                
              </div>
              <div class="form-group form-group-lg">
                <label for="selectissue">Issue</label>
                {% verbatim %}
                <select class="form-control" id="selectissue" name="issue" data-ng-model="searchForm.issue" 
                       >
                  <option value="">Select Issue</option>
                   
                  <option data-ng-repeat="issue in issues4SelectedVol" value="{{issue.id}}">{{issue.title}}</option>
                   {% endverbatim %}
                </select>
              </div>
              
              <button type="submit" class="btn btn-default btn-primary btn-sm">Go</button>
            </form>
            
          </div>
        </div>

        
        <!-- search panel -->
        <div class="panel panel-default panel-owj">
          <div class="panel-heading">
            <h3 class="panel-title">Search Articles</h3>
          </div>
          <div class="panel-body">
            <form role="form" class="article-search-form" name="articleSearchForm" action="{% url 'issue_search_view' %}">
              <div class="form-group">
                <label for="exampleInputEmail1">Having words</label>
                <input type="text" class="form-control" name="search" data-ng-model="searchForm.search" 
                        data-ng-init="searchForm.search='{{request.GET.search}}'">
              </div>

              <div class="form-group">
                <label for="exampleInputFile">Author</label>
                <input type="text" class="form-control" name="author" data-ng-model="searchForm.author" 
                        data-ng-init="searchForm.author='{{request.GET.author}}'">
              </div>
             
              <button type="submit" class="btn btn-default btn-primary btn-sm">Find</button>
              <button type="button" class="btn btn-default btn-danger btn-sm" data-ng-click="resetForm()">Reset</button>
            </form>
            
          </div>
        </div>

        <!-- popular panel -->
        <!-- this is duplicated in the bottom, for small screens as for 
          small screens popular articles should come below main articles list
        -->
        <div class="panel panel-default panel-owj hidden-xs hidden-sm" id="panel-articles" popular-articles></div>

        
      </div>
   
    
      <!-- left main panel -->
      <div class="col-md-9 col-md-pull-3 well">
        {% block 'page_content' %}
        <div class="page-header" id="issue-search-title">
         
          Showing: Volume - {{issue.volume.name}}, Issue - {{ issue.title }} <!--<span>Current Issue</span>-->
         
        </div>
        <div class="panel panel-default panel-articles">
          <div class="panel-body" data-ng-init="articles=[]">
            <ul class="list-group">
              {% for article in issue.articles.all %}
              <li class="list-group-item" 
              data-ng-init="article={title: '{{article.title}}', 
                    abstract: '{{article.abstract}}', 
                    citation: '{{article.citation}}',
                    pdf: '{{article.pdf_url}}',
                    id:'{{article.id}}'
                    }">
                <span data-ng-init="articles[{{forloop.counter0}}]=article"></span>
                <h5><a href="{{ article.get_absolute_url }}">{{article.title}}</a></br>
                  <small>{{article.author.get_full_name}}, 
                    {{ article.publish_date|date:"F o" }}
                  </small>
                </h5>
                <ul class="list-inline ft-ty artcile-shortcut-links">
                  <li data-ng-click="popUp('abstract', {{forloop.counter0}})"><a href=""> Abstract</a></li>|
                  <li data-ng-click="popUp('cite', {{forloop.counter0}})"><a href="">Cite</a></li>|
                  <li><a href="{{ article.pdf_url }}"> Pdf</a></li>
                </ul>
              </li>
              {% endfor %}              
            </ul>
          </div>
        </div>
        
        {% endblock 'page_content' %}
        
        <!-- popular panel -->
        <div class="panel panel-default visible-sm-block visible-xs-block" popular-articles></div>
        
        
      </div>
     </div>
  </div>
  
  
</div>
{% endblock content %}
