{% extends "main/issue.html" %}

{% block 'page_content' %}

<div class="page-header" id="issue-search-title">
   Search Results: 
</div>
<div class="panel panel-default panel-articles">
  <div class="panel-body" data-ng-init="articles=[]">
    <ul class="list-group">
      {% for article in object_list %}
      <li class="list-group-item" 
      data-ng-init="article={title: '{{article.title}}', 
            abstract: '{{article.abstract}}', 
            citation: '{{article.citation}}',
            pdf: '{{article.pdf_url}}',
            id:'{{article.id}}'
            }">
        <span data-ng-init="articles[{{forloop.counter0}}]=article"></span>
        <h5><a href="{{ article.get_absolute_url }}">{{article.title}}</a></br>
          <small>{{article.author.get_full_name}}, 
            {{ article.publish_date|date:"F o" }}
          </small>
        </h5>
        <ul class="list-inline ft-ty artcile-shortcut-links">
          <li data-ng-click="popUp('abstract', {{forloop.counter0}})"><a href=""> Abstract</a></li>|
          <li data-ng-click="popUp('cite', {{forloop.counter0}})"><a href="">Cite</a></li>|
          <li><a href="{{ article.pdf_url }}"> Pdf</a></li>
        </ul>
      </li>
      {% empty %}
        <div class"text-center"> No articles, matching the search creteria!</div>
      {% endfor %}              
    </ul>
    {% if page_obj %}
    <div class="row text-center">
      <ul class="pagination">
        <li>
          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}{% for k, v in request.GET.items %}{% ifnotequal k 'page' %}&{{k}}={{v}}{% endifnotequal %}{% endfor %}">&laquo;</a>
          {% else %}
            <span class="disabled">&laquo;</span>
          {% endif %}
        </li>
        <li class="disabled"><a  href="#">{{ page_obj.number }}</a></li>
        <li>
          {% if page_obj.has_next %}
            <a href=".?page={{ page_obj.next_page_number }}{% for k, v in request.GET.items %}{% ifnotequal k 'page' %}&{{k}}={{v}}{% endifnotequal %}{% endfor %}">&raquo;</a>
          {% else %}
            <span class="disabled">&raquo;</span>
          {% endif %}
        </li>
      </ul>
    </div>
    {% endif %}
    
    
  </div>
</div>
        
{% endblock 'page_content' %}