{% extends "_layout/cmsbase.html" %}

{% block content %}
<div>
 <!-- Begin page content -->
  <div class="container" >
    <div class="row">
  
      <div class="col-md-6 col-md-offset-3 well">
        <div class="panel panel-default panel-owj">
          <div class="panel-heading">User Profile</div>
          <div class="panel-body">
              <dl class="dl-horizontal">
                <dt>Name</dt><dd>{{object.get_full_name}}</dd>
                
                <dt>Email</dt><dd>{{object.email}}</dd>
                
                <dt>Affiliation</dt><dd>{{object.affiliation}}</dd>
                
                <dt>About</dt><dd>{{object.about_me}}</dd>
                
                <dt>Role</dt><dd>{{object.role.name|capfirst}}</dd>
                
                <dt>Join Date</dt><dd>{{object.date_joined|date:"j F Y"}}</dd>
                
              </dl>
          </div>
          <div class="panel-footer">
            {% if object.is_active %}
            <a href="{% url 'user_deactivate'  object.id  %}" class="btn btn-primary btn-danger  btn-owj text-center">Deactivate</a>
            {% else %}
            <a href="{% url 'user_activate' object.id %}" class="btn btn-primary  btn-owj text-center">Activate</a>
            {% endif %}
          </div>
        </div>

      </div>
     </div>
  </div>
  
  
</div>
{% endblock content %}
