{% extends "_layout/base.html" %}
{% load humanize %}

{% block title %}Account activated{% endblock %}

{% block main-container %}
<div id="main-container">
	<div class="well col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Account activation.</h2>
			</div>
			<div class="panel-body">
				{% if account %}
				<!--
					Corntol will be passed to this if block only if we are *NOT* redirecting after account activation.
				-->				
				<p>
					Thanks for signing up! Now you can <a href="{% url 'owj_login'  %}">log in</a>.
				</p>
				{% else %}
				<p>
					Sorry, it didn't work. Either your activation link was incorrect, or
					the activation key for your account has expired; activation keys are
					only valid for {{ expiration_days|apnumber }} days after
					registration.
				</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock main-container %}