{% extends "_layout/base.html" %}

{% block title %}Registration complete{% endblock %}

{% block main-container %}
<div id="main-container">
	<div class="well col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<div class="panel panel-default panel-owj">
			<div class="panel-heading">
				<h2 class="panel-title">Congratulations!</h2>
			</div>
			<div class="panel-body">
				<p>
					Your registration is now complete. Click here to <a href="{% url 'owj_login'  %}">log in</a>.
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock main-container %}