{% extends "_layout/base.html" %}
{% block main-container %}

<div id="main-container">

	<div class="well col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
		<div class="panel panel-default panel-owj">
			<div class="panel-heading">
				<h3 class="panel-title">Login</h3>
			</div>
			<div class="panel-body">
				<form id="loginform" role="form" method="post" class="form" action="{% url 'owj_login' %}?next={% url 'home' %}">
					{% csrf_token %}
					<span class="text-danger"> {{form.non_field_errors}} </span>
					<div class="form-group">
						<div class="input-group ">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input type="text" name="username" maxlength="254" id="login-username" placeholder="Email" class="form-control">
						</div>
						{% for error in form.username.errors %}
            <span class="text-danger small">{{error}}</span>
            {% endfor %}
					</div>

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							<input type="password" name="password" id="login-password" placeholder="Password" class="form-control">
						</div>
						{% for error in form.password.errors %}
              <span class="text-danger small">{{error}}</span>
            {% endfor %}
					</div>

					<div class="form-group">
						<div class="input-group">
							<button id="btn-login" class="btn btn-success">
								Login
							</button>
						</div>
					</div>

					<div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
						Don't have an account!
						<a href="{% url 'registration_register' %}"> Sign Up Here </a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock main-container %}
