{% extends "_layout/base.html" %}

{% block title %}Logged out{% endblock %}

{% block main-container %}
<div id="main-container">
	<div class="well col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Logged Out</h2>
			</div>
			<div class="panel-body">
				<p>
					You've been logged out.
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock main-container %}
