{% extends "_layout/base.html" %}

{% block title %}Registration complete{% endblock %}

{% block main-container %}
<div id="main-container">
	<div class="well col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Check your email</h2>
			</div>
			<div class="panel-body">
				<p>
					An activation link has been sent to the email address you supplied, along with instructions for activating your account.
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock main-container %}