{% extends "_layout/base.html" %}
{% block title %}Account registration{% endblock %}
{% block main-container %}
<div id="main-container">
	<div class="well col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<div class="panel panel-default panel-owj" data-ng-controller="RegistrationCtrl">
			<div class="panel-heading">
				<h3 class="panel-title">Register</h3>
			</div>
			<div class="panel-body" dw-loading="registration">

				<div class="">
					<form method="post" accept-charset="utf-8" class="form" role="form" data-ng-submit="captchaValidation($event)" action=".">
						{% csrf_token %}
						{{form.code}}
						<div class="form-group text-center">
						    {% for error in form.non_field_errors %}
                <span class="text-danger small">{{error}}</span>    
						    {% endfor %}
						</div>
						
						<div class="row">
							<div class="col-xs-12 col-md-6 form-group">
								{{form.first_name}}
								{% for error in form.first_name.errors %}
								<span class="text-danger small">{{error}}</span>
								{% endfor %}
							</div>
							<div class="col-xs-12 col-md-6 form-group">
								{{form.last_name}}
								{% for error in form.last_name.errors %}
                <span class="text-danger small">{{error}}</span>
                {% endfor %}
							</div>
						</div>

						<div class="form-group">
							{{form.email}}
							{% for error in form.email.errors %}
              <span class="text-danger small">{{error}}</span>
              {% endfor %}
						</div>
						
						<div class="row">
              <div class="col-xs-12 col-md-6 form-group">
                {{form.password}}
                {% for error in form.password.errors %}
                <span class="text-danger small">{{error}}</span>
                {% endfor %}
              </div>
              <div class="col-xs-12 col-md-6 form-group">
                {{form.confirm_password}}
                {% for error in form.confirm_password.errors %}
                <span class="text-danger small">{{error}}</span>
                {% endfor %}
              </div>
            </div>

						<div class="form-group">
							<label for="userRole" class="pull-left control-label">Register as: </label>
							<div class="pull-right row col-xs-8">
								{{form.role}}
								{% for error in form.role.errors %}
              <span class="text-danger small">{{error}}</span>
              {% endfor %}
							</div>
							<div class="clearfix"></div>
							
						</div>
						<div class="form-group">
							{{form.affiliation}}
							{% for error in form.affiliation.errors %}
              <span class="text-danger small">{{error}}</span>
              {% endfor %}
						</div>
						<div class="form-group">
							{{form.about_me}}
							{% for error in form.about_me.errors %}
              <span class="text-danger small">{{error}}</span>
              {% endfor %}
						</div>
						<div class="form-group " id="contact-captcha_control">
							<div class="text-center">
								<span class="add-on"> <span id="cap_num_1"></span> <span id="cap_operator"> + </span> <span id="cap_num_2"></span><span> = </span> </span>
								<input id="captcha" name="captcha" class="input-mini" placeholder="Sum" type="number">
								<span class="text-danger small">
									<p id="captcha_error" style="display: none;">
										Please enter the correct sum of 2 numbers
									</p> </span>
							</div>
						</div>
						<div class="form-group">
						  <small>By clicking Register, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.</small>
						</div>
						<div class="form-group col-sm-4 col-sm-push-8">
						  <input class="btn  btn-primary btn-block signup-btn " type="submit" value="Register">
						</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock main-container %}

{% block bottomjs %}
{% endblock bottomjs %}