{% extends "_layout/base.html" %}

{% block title %}Registration complete{% endblock %}

{% block main-container %}
<div class="row " id="main-container">
	<div class="well col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<div class="panel panel-default panel-owj">
			<div class="panel-heading">
				<h2 class="panel-title">Congratulations!</h2>
			</div>
			<div class="panel-body">
				<p>
					Your registration is now complete. Site Administrators are notified about your registration. </br>
					Soon they will activate your account. You will be notified by email.
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock main-container %}