<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" data-ng-click="cancel();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal-title">{{ article.title }}</h3>
</div>
<div class="modal-body">
 <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li data-ng-class="{active: current_tab=='abstract'}"><a href="#abstractView" role="tab" data-toggle="tab">Abstract</a></li>
    <li data-ng-class="{active: current_tab=='cite'}"><a href="#citeView" role="tab" data-toggle="tab">Citation</a></li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <!--list reviews-->
    <div class="tab-pane" id="abstractView" data-ng-class="{active: current_tab=='abstract'}">
    <div class="panel panel-default" >
      <div class="panel-body"  style="min-height:150px;">
        {{article.abstract}}
      </div>
    </div>
    </div>
    
    <!--write review-->
    <div class="tab-pane" id="citeView" data-ng-class="{active: current_tab=='cite'}">
      <div class="panel panel-default">
        <div class="panel-body"  style="min-height:150px;">
          {{article.citation}}
        </div>
      </div>
    </div>
  </div>

</div>
