<nav class="navbar navbar-default " role="navigation" id="footer">
  <div class="container well well-sm">
    <p class="text-right ft-ty">
      Open Water Journal Copyright ©2014 – <a href="http://www.meldpress.com" >MELD Press</a>
      </br>
      Individual manuscripts licensed under a <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>
    </p>
  </div>
</nav>