<form class="form-inline pull-right" role="form">
  <div class="form-group">
     <div issue-status-select published="filterForm.published"></div>
  </div>
  <button type="submit" class="btn btn-default btn-primary btn-sm" id="main-searchbtn" data-ng-click="filter()">Go</button>
</form>