
  <div class="panel-heading">
    <h3 class="panel-title">Popular Articles</h3>
  </div>
  <div class="panel-body">
   
   <ul class="list-group">
      <li class="list-group-item" data-ng-repeat="article in articles">
        <h5><a href="">{{ article.title }}</a></br>
          <small>{{ article.author }}, {{ article.publish_date|date:"MMMM yyyy" }}</small>
        </h5>
      </li>
   </ul>
    
  </div>
