<!DOCTYPE html>
<html lang="en" data-ng-app="owjApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Open Water Journal</title>

    <!-- Styles for plugins -->
    <link href="../owj/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this website -->
    <link href="../owj/static/css/owj.css" rel="stylesheet">
    <style>
      
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="owj">
<!-- Wrap all page content here -->
  
  <nav class="banner navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img id="banner-logo" src="../owj/static/img/banner_logo.png" class="img-responsive"/>
        </a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="ft-ty">
        <form class="navbar-form navbar-right" role="search">
          <div><div class="pull-right">
            <ul class="list-inline">
              <li>Welcome <span class="text-capitalize">User</span></li>|
              <li><a href="#">Logout</a></li></ul>
          </div><div class="clearfix"></div></div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" id="main-search-input">
          </div>
        </form>
      
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  <!--main navigation bar -->
  <nav class="navbar navbar-default" role="navigation" id="main-menu" >
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav col-md-12 text-center" >
          <li class="active col-md-2"><a href="#"><strong>Home</strong></a></li>
          <li class="col-md-2"><a href="#"><strong>Articles</strong></a></li>
          <li class="col-md-2"><a href="#"><strong>Authors</strong></a></li>
          <li class="col-md-2"><a href="#"><strong>Reviewers</strong></a></li>
          <li class="col-md-2"><a href="#"><strong>About</strong></a></li>
          <li class="col-md-2"><a href="#"><strong>Editor</strong></a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!--sub menu-->
  <div class="row well well-sm" id="sub-nav-bar">
    <div class="container">
    <div class="col-md-6 vcenter">
      <ul class="nav nav-pills" id="sub-menu">
        <li class="active"><a href="#">Instructions</a></li>
        <li><a href="#">Submit Paper</a></li>
        <li><a href="#">My Submissions</a></li>
      </ul>
      <!--
      
              <ul class="list-inline sub-nav text-center" id="sub-menu">
              <li class="col-md-3 active"><a href="">Articles</a></li>
              <li class="col-md-3"><a href="">Build Issue</a></li>
              <li class="col-md-3"><a href="">Publish Issue</a></li>
            </ul>-->
      
    </div><!--dont remove this comment
    --><div class="col-md-6 vcenter">
       <form class="form-inline pull-right" role="form">
        <div class="form-group">
          <select>
            <option> Date Submitted</option>
            <option>Check Wireframe</option>
          </select>
           <select>
            <option> Status</option>
            <option>Check Wireframe</option>
          </select>
        </div>
        <button type="submit" class="btn btn-default btn-primary btn-sm" id="main-searchbtn">Go</button>
      </form>
    </div>
    </div>
</div>
  
 
  <!-- Begin page content -->
  <div class="container" >
  <div class="row">

<div ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}" class="modal-dialog modal-lg"><div ng-transclude="" class="modal-content"><div class="modal-header ng-scope">
    <button data-ng-click="cancel();" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <h3 class="modal-title ng-binding">Reviews for ( MY Article )</h3>
</div>
<div class="modal-body ng-scope">
 <!-- Nav tabs -->
</div>
<div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>

</div>


</div>

  
  </div>
  </div>
  

<nav class="navbar navbar-default " role="navigation">
  <div class="container well well-sm">
    <p class="text-right ft-ty">Open Water Journal Copyright ©2014 – <a href="http://www.meldpress.com" >MELD Press</a>
    </br>
    Individual manuscripts licensed under a <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a></p>
  </div>
</nav>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../owj/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../owj/static/js/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
    <script src="../owj/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--angular file upload shim should be added before angularjs-->
    <script src="../owj/static/bower_components/angular-file-upload/angular-file-upload-shim.min.js"></script>
    <script src="../owj/static/bower_components/angular/angular.min.js"></script>
    <script src="../owj/static/bower_components/angular-ui-bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="../owj/static/bower_components/angular-file-upload/angular-file-upload.min.js"></script>
    <script src="../owj/static/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="../owj/static/bower_components/underscore/underscore.js"></script>
    <script src="../owj/static/bower_components/restangular/dist/restangular.min.js"></script>
    <script src="../owj/static/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
    <script src="../owj/static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../owj/static/bower_components/ngsortable/sortable.js"></script>
    <script src='../owj/static/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js'></script>
    <script src='../owj/static/bower_components/spin.js/spin.js'></script>
    <script src='../owj/static/bower_components/angular-loading/angular-loading.min.js'></script>
  
    <script src="../owj/static/js/ngapp/app.js"></script>
    <script src="../owj/static/js/ngapp/controllers.js"></script>
    <script src="../owj/static/js/ngapp/directives.js"></script>
    <script src="../owj/static/js/ngapp/services.js"></script>
    <script>
      $('td.action a').tooltip({"placement":"top"});
      
    </script>
  </body>
</html>
