<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" data-ng-click="cancel();">
		<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
	</button>
	<h3 class="modal-title">Create New Issue</h3>
</div>
<div class="modal-body" style="min-height:200px;">
	<div class="tab-content">
		<!--type-set-article-->
		<div data-ng-controller="createIssueFormCtrl">

			<div class="panel panel-default panel-owj">
				<div class="panel-body">
					<blockquote>
						<p>
							Use this form to create new issue.
						</p>
					</blockquote>
					<div class='alert-success alert' data-ng-show='successMsg'>
						{{ successMsg }}
					</div>

					<form data-ng-show="!successMsg" class="form-horizontal" novalidate role="form" id="create-issue-form" name="createIssueForm" ng-submit="createIssue()">
						<div class="form-group">
							<label for="blind_comment" class="col-sm-3 control-label col-xs-10">Issue title</label>
							<div class="col-sm-9 col-xs-12">
								<input class="form-control" type="text" name="issueTitle" data-ng-model="issue.title" required>
								<span data-ng-show="formErrors && createIssueForm.issueTitle.$invalid" class="text-danger"> This field is required</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label col-xs-10">Volume: </label>
							<div class="col-sm-3 col-xs-12 ">
								<select class="form-control" data-ng-model="issue.volume" name="issueVolume" required>
									<option data-ng-repeat="item in volumeList" value="{{item.id}}">{{item.name}}</option>
								</select>
								<span data-ng-show="formErrors && createIssueForm.issueVolume.$invalid" class="text-danger"> This field is required</span>
							</div>

							<label class="col-sm-3 control-label col-xs-10">Issue No: </label>
							<div class="col-sm-3 col-xs-12 ">
								<input class="form-control" type="number" data-ng-model="issue.issueNo" name="issueNo" required>
								<span data-ng-show="formErrors && createIssueForm.issueNo.$invalid" class="text-danger">Not valid number</span>
							</div>							
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label col-xs-10">Publish date: </label>
							<div class="col-sm-4 col-xs-12">
								<p class="input-group">
									<input type="text" ng-click="open($event)" class="form-control" datepicker-popup="dd-MMM-yyyy" data-ng-model="issue.publishDate" name="publishDate" is-open="datePicker.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="open($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button> </span>
								</p>
								<span data-ng-show="formErrors && createIssueForm.publishDate.$invalid" class="text-danger"> This field is required</span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-8 col-xs-3">
								<div class='alert-danger alert' data-ng-show='errorMsg'>
									{{ errorMsg }}
								</div>
							</div>
							<div class="col-sm-4 col-xs-9 text-right">
								<button type="submit" class="btn btn-primary" ng-disabled="creating">
									Create
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

