<div data-ng-controller="buildIssueCtrl">
	<div class="container-fluid">
		<div class="row well well-sm" id="sub-nav-bar">
			<div class="container">
				<div class="col-md-6 vcenter">
					<ul class="nav nav-pills" id="sub-menu">
						<li data-ng-class="{active:Urls.is_active_url(Urls.editor_articles())}">
							<a ng-href="{{Urls.editor_articles()}}" >Articles</a>
						</li>
						<li data-ng-class="{active:Urls.is_active_url(Urls.editor_buildissue())}">
							<a href="{{Urls.editor_buildissue()}}">Build Issue</a>
						</li>
						<li data-ng-class="{active:Urls.is_active_url(Urls.editor_publishissue())}">
							<a href="{{Urls.editor_publishissue()}}">Publish Issue</a>
						</li>
					</ul>
				</div><!--dont remove this comment
				-->
				<div class="col-md-5 vcenter" >
					<div data-ng-include="filterTemplate"></div>
				</div>
			</div>
		</div>
	</div>	
	<div class="container">
		<div class="page-header">
			<h4>Organize accepted articles into an Issue and volume
			<br>
			<small>Use this form to organize manuscripts into an issue and volume</small></h4>
		</div>
		<form method="post" accept-charset="utf-8" class="form well " role="form">
			<div class="form-group">
				<label for="abstract" class="col-sm-3 control-label col-xs-10">Select an Issue:</label>
				<div class="col-sm-5 col-xs-12">
					<select class="form-control" data-ng-disabled="dirty || saving || loading" ng-options="item as item.title for item in issues" data-ng-model="selectedIssue" data-ng-change="selectedIssueChanged()" ></select>
					<span class="inline-block" tooltip="Either save or discard changes" tooltip-trigger="{{{true: 'mouseenter', false: 'never'}[dirty]}}" ng-show="dirty" style="position:absolute; left:0; right:0; top:0; bottom:0;"></span>
				</div>
				<div class="col-sm-2 col-xs-12">
					<input class="btn btn-primary btn-block signup-btn" data-ng-click="createIssueModal()" type="button" value="Create Issue" ng-disabled="saving">
				</div>
				<div class="col-sm-2 col-xs-12">
					<input class="btn  btn-info btn-block signup-btn" data-ng-click="createVolumeModal()" type="button" value="Create Volume" ng-disabled="saving">
				</div>
			</div>
		</form>
		<div class="panel panel-default panel-borderless">
			<div class="panel-heading">
				<h4>Articles in Issue <small><em>{{selectedIssue.title}}</em></small></h4>
			</div>
			<div class="panel-body">
				<table style="min-height:200px;" class="table table-striped  table-hover">
					<thead class="text-center thead-owj">
						<td ng-click="orderByField='title'; reverseSort = !reverseSort"><strong>Title</strong><span ng-show="orderByField == 'title'"  class="sort-keys pull-right"> <i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></i> <i ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></i> </span></td>
						<td ng-click="orderByField='author'; reverseSort = !reverseSort"><strong>Authors</strong><span ng-show="orderByField == 'author'"  class="sort-keys pull-right"> <i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></i> <i ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></i> </span></td>
						<td ng-click="orderByField='created'; reverseSort = !reverseSort"><strong>Date Submitted </strong><span ng-show="orderByField == 'created'"  class="sort-keys pull-right"> <i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></i> <i ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></i> </span></td>
						<td ng-click="orderByField='status_date'; reverseSort = !reverseSort"><strong>Status</strong><span ng-show="orderByField == 'status_date'"  class="sort-keys pull-right"> <i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></i> <i ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></i> </span></td>
						<td></td>
					</thead>
					<tbody class="text-center" >
						<tr data-ng-repeat="article in selectedIssue.articles |orderBy:orderByField:reverseSort" >
							<td class="text-left"><a href=""><a href="/article/{{article.id}}"> {{article.title}}</a></td>
							<td>{{article.author}}</td>
							<td>{{article.created | date:'d MMM yyyy'}}</td>
							<td>{{article.status | uppercase }}</td>
							<td class="action">
							<ul class="list-inline">
								<a href="" ng-click="remove(article)" tooltip="Remove from issue"><span class="glyphicon glyphicon-remove-sign"></span></a>
							</ul></td>
						</tr>
					</tbody>
				</table>
				<form method="post" accept-charset="utf-8" class="form" role="form">
					<div class="form-group">
						<div class="col-sm-2 col-sm-push-6 col-xs-12">
							<div style="min-height:40px;" dw-loading="buildissue" dw-loading-options="{text: 'Saving...'}"></div>
						</div>
						<div class="col-sm-2 col-sm-push-6 col-xs-12">
							<input class="btn btn-primary btn-block signup-btn" data-ng-click="saveIssue()" type="button" value="Save Selected Issue" ng-disabled="saving || loading">
						</div>
						<div class="col-sm-2 col-sm-push-6 col-xs-12">
							<input class="btn btn-danger btn-block signup-btn" data-ng-click="discard()" type="button" value="Discard Changes" data-ng-disabled="!dirty || saving || loading">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="panel panel-default panel-borderless">
			<div class="panel-heading">
				<h4>Ready Articles</h4>
			</div>
			<div class="panel-body">
				<table style="min-height:200px;" class="table table-striped  table-hover" data-ng-hide="noarticles">
					<thead class="text-center thead-owj">
						<td ng-click="orderByField='title'; reverseSort = !reverseSort"><strong>Title</strong><span ng-show="orderByField == 'title'"  class="sort-keys pull-right"> <i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></i> <i ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></i> </span></td>
						<td ng-click="orderByField='author'; reverseSort = !reverseSort"><strong>Authors</strong><span ng-show="orderByField == 'author'"  class="sort-keys pull-right"> <i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></i> <i ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></i> </span></td>
						<td ng-click="orderByField='created'; reverseSort = !reverseSort"><strong>Date Submitted </strong><span ng-show="orderByField == 'created'"  class="sort-keys pull-right"> <i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></i> <i ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></i> </span></td>
						<td ng-click="orderByField='status_date'; reverseSort = !reverseSort"><strong>Status</strong><span ng-show="orderByField == 'status_date'"  class="sort-keys pull-right"> <i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></i> <i ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></i> </span></td>
						<td></td>
					</thead>
					<tbody class="text-center" >
						<tr data-ng-repeat="article in readyArticles |orderBy:orderByField:reverseSort" >
							<td class="text-left"><a href=""><a href="/article/{{article.id}}"> {{article.title}}</a></td>
							<td>{{article.author}}</td>
							<td>{{article.created | date:'d MMM yyyy'}}</td>
							<td>{{article.status | uppercase}}</td>
							<td class="action">
							<ul class="list-inline">
								<a href="" ng-click="add(article)" tooltip="Add to current issue"><span class="glyphicon glyphicon-plus-sign"></span></a>
							</ul></td>
						</tr>
					</tbody>
				</table>
				<div data-ng-show="noarticles" class="well text-center">
					<p>
						No Articles Found!
					</p>
				</div>

			</div>
		</div>

	</div>
</div>