<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" data-ng-click="cancel();">
		<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
	</button>
	<h3 class="modal-title">Create New Volume</h3>
</div>
<div class="modal-body" style="min-height:200px;">
	<div class="tab-content">
		<!--type-set-article-->
		<div data-ng-controller="createVolumeFormCtrl">

			<div class="panel panel-default panel-owj">
				<div class="panel-body">
					<blockquote>
						<p>
							Use this form to create new volume.
						</p>
					</blockquote>
					<div class='alert-success alert' data-ng-show='successMsg'>
						{{ successMsg }}
					</div>

					<form data-ng-show="!successMsg" class="form-horizontal" novalidate role="form" id="create-issue-form" name="createVolumeForm" ng-submit="createVolume()">
						<div class="form-group">
							<label for="blind_comment" class="col-sm-3 control-label col-xs-12">Volume name</label>
							<div class="col-sm-9 col-xs-12">
								<input class="form-control" type="text" name="volumeName" data-ng-model="volume.name" required>
								<span data-ng-show="formErrors && createVolumeForm.volumeName.$invalid" class="text-danger"> This field is required</span>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-8 col-xs-3">
								<div class='alert-danger alert' data-ng-show='errorMsg'>
									{{ errorMsg }}
								</div>
							</div>
							<div class="col-sm-4 col-xs-9 text-right">
								<button type="submit" class="btn btn-primary" ng-disabled="creating">
									Create
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
