<div data-ng-controller="edtiorArticlesCtrl">
	<div class="container-fluid">
		<div class="row well well-sm" id="sub-nav-bar">
			<div class="container">
				<div class="col-md-6 vcenter">
					<ul class="nav nav-pills" id="sub-menu">
            <li data-ng-class="{active:Urls.is_active_url(Urls.editor_articles())}">
              <a ng-href="{{Urls.editor_articles()}}" >Articles</a>
            </li>
            <li data-ng-class="{active:Urls.is_active_url(Urls.editor_buildissue())}">
              <a href="{{Urls.editor_buildissue()}}">Build Issue</a>
            </li>
            <li data-ng-class="{active:Urls.is_active_url(Urls.editor_publishissue())}">
              <a href="{{Urls.editor_publishissue()}}">Publish Issue</a>
            </li>
					</ul>
				</div><!--dont remove this comment
				-->
				<div class="col-md-5 vcenter" >
					<div data-ng-include="filterTemplate"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" style="min-height:200px;" infinite-scroll="loadArticles()" infinite-scroll-disabled='disableInfiniteScroll' infinite-scroll-distance="1" >
		<table class="table table-striped  table-hover" data-ng-hide="noarticles" dw-loading="editorarticles" dw-loading-options="{active: true}">
			<thead class="text-center thead-owj">
				<td ng-click="orderByField='title'; reverseSort = !reverseSort"><strong>Title <span ng-show="orderByField == 'title'" class="sort-keys pull-right"> <i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-down"></i> <i ng-show="reverseSort" class="glyphicon glyphicon-chevron-up"></i> </span> </strong></td>
				<td><strong>Authors</strong></td>
				<td><strong>Reviewers</strong></td>
				<td ng-click="orderByField='created'; reverseSort = !reverseSort"><strong>Date Submitted <span ng-show="orderByField == 'created'" class="sort-keys pull-right"> <i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-down"></i> <i ng-show="reverseSort" class="glyphicon glyphicon-chevron-up"></i> </span> </strong></td>
				<td ng-click="orderByField='status_date'; reverseSort = !reverseSort"><strong>Status <span ng-show="orderByField == 'status_date'" class="sort-keys pull-right"> <i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-down"></i> <i ng-show="reverseSort" class="glyphicon glyphicon-chevron-up"></i> </span> </strong></td>
				<td><strong>Action</strong></td>
			</thead>
			<tbody class="text-center" >
				<tr data-ng-repeat="article in articles|orderBy:orderByField:reverseSort" >
					<td class="text-left title"><a href=""><a href="{{article.abs_url}}"> {{article.title}}</a></td>
					<td><span data-ng-repeat="ext_author in article.ext_authors">{{ext_author.first_name}}{{$last ? '' : ', '}}</span></td>
					<td><span data-ng-repeat="ext_reviewer in article.ext_reviewers">{{ext_reviewer.first_name}}{{$last ? '' : ', '}}</span></td>
					<td>{{article.created | date:'d MMM yyyy'}}</td>
					<td>{{article.status}}</td>
					<td class="action">
					<ul class="list-inline">
						<span reviews article="article"></span>
						<span reviewers article="article"></span>
						<span update-Article-Btn article="article"></span>
						<a data-ng-click="moveToBiddingPool(article)" href="" data-toggle="tooltip" tooltip="Move to Bidding Pool"><span class="glyphicon glyphicon-arrow-right"></span></a>
					</ul></td>
				</tr>

			</tbody>
		</table>
		<div data-ng-show="noarticles" class="well text-center">
			<p>
				No Articles Found!
			</p>
		</div>
	</div>
</div>