<div data-ng-controller="publishIssueCtrl">
	<div class="container-fluid">
		<div class="row well well-sm" id="sub-nav-bar">
			<div class="container">
				<div class="col-md-6 vcenter">
					<ul class="nav nav-pills" id="sub-menu">
            <li data-ng-class="{active:Urls.is_active_url(Urls.editor_articles())}">
              <a ng-href="{{Urls.editor_articles()}}" >Articles</a>
            </li>
            <li data-ng-class="{active:Urls.is_active_url(Urls.editor_buildissue())}">
              <a href="{{Urls.editor_buildissue()}}">Build Issue</a>
            </li>
            <li data-ng-class="{active:Urls.is_active_url(Urls.editor_publishissue())}">
              <a href="{{Urls.editor_publishissue()}}">Publish Issue</a>
            </li>
					</ul>
				</div><!--dont remove this comment
				-->
				<div class="col-md-5 vcenter" >
					<div data-ng-include="filterTemplate"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="page-header">
			<h4>Publish an Issue of the Journal
			<br>
			<small>Use this form to finalize publishing of a issue of the journal</small></h4>
		</div>
		<div class="panel panel-default panel-borderless">
			<div class="panel-heading">
				Filter by
			</div>
			<div class="panel-body">
				<table style="min-height:200px;" class="table table-striped  table-hover">
					<thead class="text-center thead-owj">
						<td ng-click="orderByField='volume'; reverseSort = !reverseSort"><strong>Volume</strong><span ng-show="orderByField == 'volume'"  class="sort-keys pull-right"> <i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></i> <i ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></i> </span></td>
						<td ng-click="orderByField='issue_number'; reverseSort = !reverseSort"><strong>Issue</strong><span ng-show="orderByField == 'issue_number'"  class="sort-keys pull-right"> <i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></i> <i ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></i> </span></td>
						<td ng-click="orderByField='title'; reverseSort = !reverseSort"><strong>Friendly Name</strong><span ng-show="orderByField == 'title'"  class="sort-keys pull-right"> <i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></i> <i ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></i> </span></td>
						<td ng-click="orderByField='publish_date'; reverseSort = !reverseSort"><strong>Published Date</strong><span ng-show="orderByField == 'publish_date'"  class="sort-keys pull-right"> <i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></i> <i ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></i> </span></td>
						<td ng-click="orderByField='is_published'; reverseSort = !reverseSort"><strong>Published</strong><span ng-show="orderByField == 'is_published'"  class="sort-keys pull-right"> <i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></i> <i ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></i> </span></td>
					</thead>
					<tbody class="text-center" >
						<tr data-ng-repeat="issue in issues |orderBy:orderByField:reverseSort" >
							<td class="text-left">{{issue.volume}}</td>
							<td>{{issue.issue_number}}</td>
							<td>{{issue.title | date:'d MMM yyyy'}}</td>
							<td>{{issue.publish_date | date:'d MMM yyyy' }}</td>
							<td>
							<input class="btn btn-primary btn-block signup-btn" ng-disabled="issue.is_published" ng-click="publishIssueModal(issue)" type="button" tooltip="Publish this Issue" value="{{issue.is_published ? 'Published' : 'Publish'}}">
							</td>
						</tr>
					</tbody>
				</table>
				<div data-ng-show="noissues" class="well text-center">
					<p>
						No Issues Found!
					</p>
				</div>

			</div>
		</div>
	</div>
</div>