<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" data-ng-click="cancel();">
		<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
	</button>
	<h3 class="modal-title">Publish issue ({{newIssue.title}})</h3>
</div>
<div class="modal-body" style="min-height:200px;">
	<div class="tab-content">
		<div >
			<div class="panel panel-default panel-owj">
				<div class="panel-body">
					<blockquote>
						<p>
							Use this form to publish issue.
						</p>
					</blockquote>
					<div class='alert-success alert' data-ng-show='successMsg'>
						{{ successMsg }}
					</div>
					<form data-ng-show="!successMsg" class="form-horizontal" novalidate role="form" id="publish-issue-form" name="form.publishIssueForm" ng-submit="publishIssue()">
						<div class="col-sm-12 col-xs-12">
							<div class='alert-danger alert' data-ng-show='errorMsg'>
								{{ errorMsg }}
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 col-sm-push-2 control-label col-xs-10">Publish date: </label>
							<div class="col-sm-4 col-sm-push-2 col-xs-12">
								<p class="input-group">
									<input type="text" ng-click="open($event)" class="form-control" datepicker-popup="dd-MMM-yyyy" data-ng-model="newIssue.publish_date" name="publish_date" is-open="datePicker.opened" datepicker-options="dateOptions" data-ng-disabled="newIssue.publish_now" data-ng-required="!newIssue.publish_now" close-text="Close" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" data-ng-disabled="newIssue.publish_now" ng-click="open($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button> </span>
								</p>
								<span data-ng-show="formErrors && form.publishIssueForm.publish_date.$invalid" class="text-danger"> This field is required</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 col-sm-push-5 control-label col-xs-10 ">Or</label>
						</div>

						<div class="form-group">
							<label for="blind_comment" class="col-sm-3 col-sm-push-2 control-label col-xs-10">Publish Now</label>
							<div class="col-sm-3 col-sm-push-2 col-xs-12">
								<input class="form-control" ng-click="today()" type="checkbox" name="publish_now" data-ng-model="newIssue.publish_now">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3 col-sm-push-3 col-xs-9 text-right">
								<button type="submit" class="btn btn-primary" ng-disabled="publishing">
									Update
								</button>
							</div>
							<div class="col-sm-3 col-sm-push-3 col-xs-9 text-right">
								<button type="button" class="btn btn-danger" ng-click="cancel();" ng-disabled="publishing">
									Cancel
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

