<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" data-ng-click="cancel();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal-title">Reviewers - {{article.title}}</h3>
</div>
<div class="modal-body" style="min-height:200px;" dw-loading="articles" dw-loading-options="{text: 'Loading users...'}">
 <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#reviewsp" role="tab" data-toggle="tab">Reviewers</a></li>
    <li><a href="#reviewsw" role="tab" data-toggle="tab">Add Reviewer</a></li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <!--list reviews-->
    <div class="tab-pane active" id="reviewsp" >
    <div list-reviewers article="article"></div>
    </div>
    
    <!--write review-->
    <div class="tab-pane" id="reviewsw" >
      <div add-reviewers article="article"></div>
    </div>
  </div>

</div>


<script type="text/ng-template" id="articles-reviewers.html">
  <div class="panel panel-default panel-owj">
    <div class="panel-body" dw-loading="getReviewers" dw-loading-options="{active: true}">
      <div >
        <h4><strong>Assigned Reviewers</strong></h4>
        <table class="table table-striped table-condensed table-bordered ft-ty">
          <thead class="text-center bold">
            <tr>
              <td>Given Name</td>
              <td>Family Name</td>
              <td>Affiliation</td>
              <td>Email</td>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="reviewer in assigned_reviewers">
              <td>{{reviewer.reviewer__first_name}}</td>
              <td>{{reviewer.reviewer__last_name}}</td>
              <td>{{reviewer.reviewer__affiliation}}</td>
              <td>{{reviewer.reviewer__email}}</td>
            </tr>
          </tbody>
        </table>
       
      </div>
      
      <div>
        <h4><strong>Author's suggested reviewers</strong></h4>
        <table class="table table-striped table-condensed table-bordered ft-ty">
          <thead class="text-center bold">
            <tr>
              <td>Given Name</td>
              <td>Family Name</td>
              <td>Affiliation</td>
              <td>Email</td>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="reviewer in suggested_reviewers">
              <td>{{reviewer.first_name}}</td>
              <td>{{reviewer.last_name}}</td>
              <td>{{reviewer.affiliation}}</td>
              <td>{{reviewer.email}}</td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="add-reviewers.html">
<div class="row well well-sm" id="add-reviewer-panel">
  <div class="col-sm-2 left-nav">
     <!-- Nav tabs -->
      <ul class="nav nav-pills nav-stacked sub-menu-stacked sub-nav" role="tablist">
        <li class="active"><a href="#find-reviewer" role="tab" data-toggle="tab">Find</a></li>
        <li><a href="#invite-reviewer" role="tab" data-toggle="tab">Invite</a></li>
      </ul>
  </div>
  <div class="col-sm-10">
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="find-reviewer">
        <div class="panel panel-default panel-owj"><div class="panel-body" dw-loading="addReviewers" dw-loading-options="{text: 'Saving...'}">
  
          <blockquote>
            <p>Type in name or email id to find existing user.</p>
          </blockquote>
          
          <div class="well">
            <div class="form-group has-feedback">
              <input type="text" ng-model="selectedUser" placeholder="Name or email" typeahead="user as user.full_name for users in findReviewers($viewValue)" 
              typeahead-loading="loadingLocations" class="form-control" typeahead-on-select="pushToReviewersList($item)"
              typeahead-template-url="userFilterTemplate.html">
              <span ng-show="loadingLocations" dw-loading="findReviewers" class="form-control-feedback-ajax-loader"
                  dw-loading-options="{text:'', spinnerOptions:{length:3,width:1, radius:2}}">  </span>
            </div>
            
          </div>
          
          
          <table class="table table-striped table-condensed table-bordered ft-ty" data-ng-show="usersToAdd.length">
          <thead class="text-center bold">
            <tr>
              <td>Name</td>
              <td>Affiliation</td>
              <td>Email</td>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="reviewer in usersToAdd">
              <td>{{reviewer.full_name}}</td>
              <td>{{reviewer.affiliation}}</td>
              <td>{{reviewer.email}}
                <button type="button" class="close" data-ng-click="removeUser(reviewer);"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              </td>
            </tr>
          </tbody>
        </table>
          
        <div class="row">
          <div id="success-alert" class="col-sm-8 col-xs-12">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
          </div>
          <div class="col-sm-1 col-xs-2"></div>
          <div class="col-sm-3 col-xs-10 text-right">
            <button class="btn btn-primary pull-right" data-ng-show="usersToAdd.length" data-ng-click="saveUsers();">Add</button>
          </div>
          
          
        </div>
          
        
        
        </div></div>
        
      </div>
      <div class="tab-pane" id="invite-reviewer">
        
        
        <div class="panel panel-default panel-owj"><div class="panel-body">
          <blockquote>
            <small>You can invite external people to join the Jorunal as reviewer.</small>
          </blockquote>
          
        <form class="form-horizontal" novalidate role="form" name="inviteUserForm" >
          <div class="form-group"  
            data-ng-class="{'has-error':inviteUserForm.first_name.$invalid && inviteUserForm.first_name.$dirty}">
            <label for="first_name" class="col-sm-4 control-label col-xs-10">First Name </label>
            <div class="col-sm-8 col-xs-12">
              <input type="text" class="form-control" name="first_name" data-ng-model="item.first_name" required></input>
              <span data-ng-show="inviteReviewerFormShowErrors && inviteUserForm.first_name.$invalid" class="text-danger pull-right small"> This field is required</span>
            </div>
          </div>
          
          <div class="form-group" data-ng-class="{'has-error':inviteUserForm.last_name.$invalid && inviteUserForm.last_name.$dirty}">
            <label for="last_name" class="col-sm-4 control-label col-xs-10">Last Name </label>
            <div class="col-sm-8 col-xs-12">
              <input type="text" class="form-control" name="last_name" data-ng-model="item.last_name" required></input>
              <span data-ng-show="inviteReviewerFormShowErrors && inviteUserForm.last_name.$invalid" class="text-danger pull-right small"> This field is required</span>
            </div>
          </div>
          
          <div class="form-group" data-ng-class="{'has-error':inviteUserForm.email.$invalid && inviteUserForm.email.$dirty}">
            <label for="email" class="col-sm-4 control-label col-xs-10">Email</label>
            <div class="col-sm-8 col-xs-12">
              <input type="email" class="form-control" name="email" data-ng-model="item.email" required></input>
              <span data-ng-show="inviteReviewerFormShowErrors && inviteUserForm.email.$error.required " class="text-danger pull-right small"> This field is required</span>
              <span data-ng-show="inviteReviewerFormShowErrors && inviteUserForm.email.$error.email" class="text-danger pull-right small">Not a valid email id</span>
            </div>
          </div>
          
          <div class="form-group" data-ng-class="{'has-error':inviteUserForm.affiliation.$invalid && inviteUserForm.affiliation.$dirty}">
            <label for="affiliation" class="col-sm-4 control-label col-xs-10">Affiliation</label>
            <div class="col-sm-8 col-xs-12">
              <input type="text" class="form-control" name="affiliation" data-ng-model="item.affiliation" required></input>
              <span data-ng-show="inviteReviewerFormShowErrors && inviteUserForm.affiliation.$error.required" class="text-danger pull-right small"> This field is required</span>
            </div>
          </div>
          
          <div class="form-group" data-ng-class="{'has-error':inviteUserForm.message.$invalid && inviteUserForm.message.$dirty}">
            <label for="message" class="col-sm-4 control-label col-xs-10">Message</label>
            <div class="col-sm-8 col-xs-12">
              <textarea class="form-control" name="message" data-ng-model="item.message" rows="5" required></textarea>
              <span data-ng-show="inviteReviewerFormShowErrors && inviteUserForm.message.$error.required" class="text-danger pull-right small"> This field is required</span>
            </div>
          </div>
          
          <div class="form-group">
              <div id="success-alert" class="col-sm-8 col-xs-12">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
              </div>
              <div class="col-sm-1 col-xs-2" dw-loading="inviteReviewers" dw-loading-options="{text:'Sending Invitation...', spinnerOptions: {length: 4, width: 2, radius:6}}"></div>
              <div class="col-sm-3 col-xs-10 text-right">
                <button type="submit" class="btn btn-primary" data-ng-click="inviteReviewer()" >Invite</button>
                
              </div>
              
              
            </div>
        </form>
        
        </div></div>
        
      </div>
    </div>
  </div>
  
</div>  
</script>

<script type="text/ng-template" id="userFilterTemplate.html">
  <a>{{match.model.full_name}} ({{match.model.email}})</a>
</script>