<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" data-ng-click="cancel();">
		<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
	</button>
	<h3 class="modal-title">Update '{{article.title}}'</h3>
</div>
<div class="modal-body" style="min-height:200px;">
	<div class="tab-content">
    <!--type-set-article-->
    <div>
      <div update-Article article="article"></div>
    </div>
  </div>
</div>

