<div class="panel panel-default panel-owj">
	<div class="panel-body">
		<blockquote>
			<p>
				Use this form to type set article.
			</p>
		</blockquote>
		<div class='alert-danger alert' data-ng-show='errorMsg'>
			{{ errorMsg }}
		</div>
		<div class='alert-success alert' data-ng-show='successMsg'>
			{{ successMsg }}
		</div>
		
		<form data-ng-show="!successMsg" class="form-horizontal" novalidate role="form" id="review-form" name="articleUpdateForm" ng-submit="updateArticle()">
			<div class="form-group">
				<label for="blind_comment" class="col-sm-3 control-label col-xs-10">Upload File</label>
				<div class="col-sm-9 col-xs-12">
					<input class="control-label" type="file" name="articleFile" id="manuscript" ng-file-select="onFileSelect($files)" required>
				</div>
			</div>
			<div class="form-group">
				<label for="abstract" class="col-sm-3 control-label col-xs-10">Set Status: </label>

				<div class="col-sm-2 col-xs-12 ">
					<select data-ng-model="newStatus">
						<option data-ng-repeat="item in articleStatusList" value="{{item[0]}}" selected="newStatus==item[0]">{{item[1]}}</option>
					</select>
				</div>
			</div>
			<span class="text-right">Note: Uploading a new file will overwrite old file.</span>
			<div class="form-group">
				<div id="success-alert" class="col-sm-7 col-xs-12">
					
				</div>
				<div class="col-sm-1 col-xs-3"></div>
				<div class="col-sm-4 col-xs-9 text-right">
					<button type="submit" class="btn btn-primary" ng-disabled="updating">
						Update
					</button>
				</div>
			</div>
		</form>
	</div>
</div>