<div class="modal-header">
	<h3 class="modal-title">Issue update</h3>
</div>
<div class="modal-body">
	<div class='alert-success alert' data-ng-show='!issueUpdateError'>
		Issue updated successfully.
	</div>
	<div class='alert-danger alert' data-ng-show='issueUpdateError'>
		An error occurred while updating issue.
	</div>
</div>
<div class="modal-footer">
	<button data-ng-show='!issueUpdateError' class="btn btn-success" ng-click="cancel()">
		Close
	</button>
	<button data-ng-show='issueUpdateError' class="btn btn-danger" ng-click="cancel()">
		Close
	</button>
</div>