<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" data-ng-click="cancel();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h3 class="modal-title">Article save</h3>
</div>
<div class="modal-body">
	<div class='alert-success alert' data-ng-show='!uploadError'>
		Article saved successfully.
	</div>
	<div class='alert-danger alert' data-ng-show='uploadError'>
		An error occurred while saved article.
	</div>
</div>
<div class="modal-footer">
	<button data-ng-show='!uploadError' class="btn btn-success" ng-click="cancel()">
		Close
	</button>
	<button data-ng-show='uploadError' class="btn btn-danger" ng-click="cancel()">
		Close
	</button>
</div>