<div class="container-fluid">
	<div class="row well well-sm" id="sub-nav-bar">
		<div class="container">
			<div class="col-md-6 vcenter">
				<ul class="nav nav-pills" id="sub-menu">
					<li class="active">
						<a href="#">Instructions</a>
					</li>
					<li>
						<a href="" data-ui-sref="author_createarticle">Submit a Paper</a>
					</li>
					<li>
						<a href="" data-ui-sref="author_submission">My Submissions</a>
					</li>
				</ul>
			</div><!--dont remove this comment
			--><div class="col-md-6 vcenter">
				<div data-ng-include="filterTemplate"></div>
			</div>
		</div>
	</div>
</div>