<!-- <div data-ng-include="'/static/js/ngapp/tmplts/author/author_header.html'"></div> -->

<div id="main-container">
	<div class="col-md-12 well">
		<!-- form -->
		<style>
		  
		  
		</style>
		<div class="row" dw-loading="uploadArticle" dw-loading-options="{text: 'Saving...'}">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<form class="form-horizontal" data-ng-controller="articleFormCtrl" novalidate role="form" id="article-form" name="articleForm" >
					<div class="form-group">
						<label for="Title" class="col-sm-2 control-label col-xs-10">Title</label>
						<div class="col-sm-1 help-block col-xs-2 col-sm-push-9" >
							<span class="glyphicon glyphicon-exclamation-sign" tooltip="Title is free text up to 250 characters."></span>
						</div>
						<div class="col-sm-9 col-xs-12 col-sm-pull-1">
							<input type="text" class="form-control" id="Title" name="articleTitle" ng-model="article.title" maxlength="250" required>
							<span data-ng-show="formErrors && articleForm.articleTitle.$invalid" class="text-danger small"> This field is required</span>
						</div>

					</div>
					<div class="form-group">
						<label for="abstract" class="col-sm-2 control-label col-xs-10">Abstract</label>
						<div class="col-sm-1 help-block col-xs-2 col-sm-push-9"  >
							<span class="glyphicon glyphicon-exclamation-sign" tooltip="Abstract is free text up to 3500 characters."></span>
						</div>
						<div class="col-sm-9 col-xs-12 col-sm-pull-1">
							<textarea rows="3" class="form-control" id="abstract" name="articleAbstract" ng-model="article.abstract" maxlength="3500" required></textarea>
							<span data-ng-show="formErrors && articleForm.articleAbstract.$invalid" class="text-danger small"> This field is required</span>
						</div>

					</div>
					<div class="form-group">
						<label for="keywords" class="col-sm-2 control-label col-xs-10">Keywords</label>
						<div class="col-sm-1 help-block col-xs-2 col-sm-push-9 ">
							<span class="glyphicon glyphicon-exclamation-sign" tooltip="Keywords up to 5 key words, total length less than 250 characters."></span>
						</div>
						<div class="col-sm-9 col-xs-12 col-sm-pull-1">
						  <input type="hidden" ui-select2="select2Options" ng-model="article.key_words" name="articleKeywords" ng-required="true">
							<span data-ng-show="formErrors && !article.key_words.length " class="text-danger small"> This field is required</span>
						</div>

					</div>
					<div class="form-group">
						<label for="Authors" class="col-sm-2 control-label col-xs-10">Authors</label>
						<div class="col-sm-1 help-block col-xs-2 col-sm-push-9 " >
							<span class="glyphicon glyphicon-exclamation-sign" tooltip="Article authors"></span>
						</div>
						<div class="col-sm-9 col-xs-12 col-sm-pull-1">

							<div class="panel panel-default panel-owj ft-ty">
								<div class="panel-heading text-center">
									<div class="row">
									  <div class="col-xs-5">
                      <div class="row">
    										<div class="col-xs-6">
    											Given Name
    										</div>
    										<div class="col-xs-6">
    											Family Name
    										</div>
    									</div>
    								</div>
										<div class="col-xs-3">
											Affiliation
										</div>
										<div class="col-xs-4">
                      <div class="row">
    										<div class="col-xs-12">
    											Email
    										</div>
    									</div>
    								</div>
									</div>
								</div>
								<div class="panel-body text-center" ui-sortable="sortableAuthors" ng-model="article.ext_authors">
									<ul class="row list-inline user-info-table" ng-repeat="author in article.ext_authors" 
									                         data-ng-mouseover="togglebuttons=true;"
									                         data-ng-mouseout="togglebuttons=false;">
										<div class="col-xs-5">
										  <div class="row">
    										<li class="col-xs-6">
    											{{author.first_name}}
    										</li>
    										<li class="col-xs-6">
    											{{author.last_name}}
    										</li>
    										</div>
										</div>
										<li class="col-xs-3">
											{{author.affiliation}}
										</li>
										<div class="col-xs-4">
  										<div class="row">
    										<li class="col-xs-11">
    											{{author.email}}
    										</li>
    										<li class="col-xs-1">
    										  <div data-ng-hide="togglebuttons" class="glyphicon glyphicon-resize-vertical reorder"></div>
    										  <a data-ng-show="togglebuttons" href="" class="glyphicon glyphicon-remove" ng-click="removeAuthor($index)"></a>
    										</li>
  									  </div>
  									</div>
									</ul>
								</div>
								<div class="panel-footer">
								  <div>
									<a href="javascript:void(0)" data-ng-show="!showAuthorAddForm" ng-click="addNewAuthor()">Add</a>
									</div>
									<div data-ng-show="showAuthorAddForm" data-ng-include="'/static/js/ngapp/tmplts/author/new_author_form.html'"></div>
								</div>
							</div>

						</div>
					</div>

					<div class="form-group">
						<label for="Reviewers" class="col-sm-2 control-label col-xs-10">Reviewers</label>
						<div class="col-sm-1 help-block col-xs-2 col-sm-push-9" >
							<span class="glyphicon glyphicon-exclamation-sign" tooltip="Suggested reviewers for article"></span>
						</div>
						<div class="col-sm-9 col-xs-12 col-sm-pull-1">
							<div class="panel panel-default panel-owj ft-ty">
								<div class="panel-heading text-center">
									<div class="row">
										<div class="col-xs-5">
                      <div class="row">
                        <div class="col-xs-6">
                          Given Name
                        </div>
                        <div class="col-xs-6">
                          Family Name
                        </div>
                      </div>
                    </div>
										<div class="col-xs-3">
											Affiliation
										</div>
										<div class="col-xs-4">
                      <div class="row">
                        <div class="col-xs-12">
                          Email
                        </div>
                      </div>
                    </div>
									</div>
								</div>

								<div class="panel-body text-center">
									<ul ng-repeat="reviewer in article.ext_reviewers" class="row list-inline"
									                                  data-ng-mouseover="togglebuttons=true;"
                                                    data-ng-mouseout="togglebuttons=false;">
										<div class="col-xs-5">
                      <div class="row">
    										<li class="col-xs-6">
    											{{reviewer.first_name}}
    										</li>
    										<li class="col-xs-6">
    											{{reviewer.last_name}}
    										</li>
										  </div>
                    </div>
										<li class="col-xs-3">
											{{reviewer.affiliation}}
										</li>
                    <div class="col-xs-4">
                      <div class="row">
    										<li class="col-xs-11">
    											{{reviewer.email}}
    										</li>
    										<li>
                          <a data-ng-show="togglebuttons" href="" class="glyphicon glyphicon-remove" ng-click="removeReviewer($index)"></a>
    										</li>
                      </div>
                    </div>
									</ul>
								</div>
								<div class="panel-footer">
									<a href="javascript:void(0)" data-ng-show="!showReviewerAddForm" ng-click="addNewReviewer()">Add</a>
									<div data-ng-show="showReviewerAddForm" data-ng-include="'/static/js/ngapp/tmplts/author/new_reviewer_form.html'"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="manuscript" class="col-sm-2 control-label col-xs-10">Upload File</label>
						<div class="col-sm-1 help-block col-xs-2 col-sm-push-9">
							<span class="glyphicon glyphicon-exclamation-sign" tooltip="Article pdf file."></span>
						</div>
						<div class="col-sm-9 col-xs-12 col-sm-pull-1">
							<input type="file" accept="application/pdf" name="articleFile" id="manuscript" ng-file-select="onFileSelect($files)" data-ng-required="!edit">
							<span data-ng-show="!edit && formErrors && !selectedFile.length" class="text-danger small">File required</span>
							<span data-ng-show="fileTypeError" class="text-danger small">Pdf file required</span>
							<span data-ng-show="edit" class="small">Add new file to repalce old file <em>'{{(article.pdf.original_filename)}}'</em>.</span>
							<span data-ng-show="!edit && formErrors && !selectedFile" class="text-danger small">File required</span>
							<a id="pdf-download-button" href="{{article.pdf_url}}" class="btn btn-lg btn-default owj-tooltip" tooltip="Download Pdf ({{article.pdf.original_filename}})" data-ng-show="edit">
             					<span class="glyphicon glyphicon-cloud-download"></span>
            				</a>
						</div>						
					</div>
					<div class="form-group">
						<label for="approvals" class="col-sm-2 control-label col-xs-10">Approvals</label>
						<div class="col-sm-1 help-block col-xs-2 col-sm-push-9">
							<span class="glyphicon glyphicon-exclamation-sign" tooltip="Approvals"></span>
						</div>
						<div class="col-sm-9 col-xs-12 col-sm-pull-1">
							<div class="checkbox">
								<input type="checkbox" name="articleFreeOfPlagiarism" ng-model="article.freeOfPlagiarism" required>
								I certify that this is an original manuscript that is free of plagiarism and that all authors
								agree to its submission to Open Water.
							</div>
							<span data-ng-show="formErrors && articleForm.articleFreeOfPlagiarism.$invalid" class="text-danger small"> This approval is required</span>
							<div class="checkbox">
								<input type="checkbox" name="articlePublicationFee" ng-model="article.publicationFee" required>
								I understand there is a $299 publication fee for accepted papers and am prepared to
								pay this fee if my paper is accepted.
							</div>
							<span data-ng-show="formErrors && articleForm.articlePublicationFee.$invalid" class="text-danger small"> This approval is required</span>
							<div class="checkbox">
								<input type="checkbox" name="articleLicenseToPublish" ng-model="article.licenseToPublish" required>
								I hereby give Open Water license to publish the attached paper under the Creative
								Commons Attribution 4.0 International License.
							</div>
							<span data-ng-show="formErrors && articleForm.articleLicenseToPublish.$invalid" class="text-danger small
							"> This approval is required</span>
						</div>
					</div>
					<div class="form-group">
						<div ng-if="formErrors" class="alert alert-danger fade in small">
							Correct form errors!
						</div>
						<div ng-if="customFormErrors" class="alert alert-danger fade in small">
							{{formErrorMsg}}
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="button" class="btn btn-primary" ng-disabled="uploading" ng-click="articleSubmit()">
								Save
							</button>
							<button type="reset" class="btn btn-warning" ng-click="resetForm()" ng-hide="edit" ng-disabled="uploading || edit">
								Reset
							</button>
							<a href="/author/submissions/">
							<button type="button" class="btn btn-warning" ng-show="edit" ng-disabled="uploading || !edit">
								Cancel
							</button>
							<a>
						</div>
					</div>
				</form>

			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>