<div >
  <div class="container" style="min-height:200px;" dw-loading="articles" dw-loading-options="{text: 'Loading users...'}" >
    <table class="table table-striped  table-hover" data-ng-hide="noarticles">
      <thead class="text-center thead-owj">
        <td ng-click="orderByField='title'; reverseSort = !reverseSort">
        	<strong>Title
        		<span ng-show="orderByField == 'title'" class="sort-keys pull-right">
    					<i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-down"></i>
    					<i ng-show="reverseSort" class="glyphicon glyphicon-chevron-up"></i>
				    </span>
        	</strong>
        </td>
        <td><strong>Authors</strong></td>
        <td><strong>Reviewers</strong></td>
        <td ng-click="orderByField='created'; reverseSort = !reverseSort">
        	<strong>Date Submitted
        		<span ng-show="orderByField == 'created'"  class="sort-keys pull-right">
    					<i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-down"></i>
    					<i ng-show="reverseSort" class="glyphicon glyphicon-chevron-up"></i>
				    </span>
        	</strong>
        </td>
        <td ng-click="orderByField='status_date'; reverseSort = !reverseSort">
        	<strong>Status
        		<span ng-show="orderByField == 'status_date'" class="sort-keys pull-right">
    					<i ng-show="!reverseSort" class="glyphicon glyphicon-chevron-down"></i>
    					<i ng-show="reverseSort" class="glyphicon glyphicon-chevron-up"></i>
    				</span>
        	</strong>
        </td>
        <td><strong>Action</strong></td>
      </thead>
      <tbody class="text-center" >
        <tr data-ng-repeat="article in articles|orderBy:orderByField:reverseSort" >
          <td class="text-left title"><ins><a href="{{article.abs_url}}"> {{article.title}}</a></ins></td>
          <td><span data-ng-repeat="ext_author in article.ext_authors">{{ext_author.first_name}}{{$last ? '' : ', '}}</span></td>
          <td><span data-ng-repeat="ext_reviewer in article.ext_reviewers">{{ext_reviewer.first_name}}{{$last ? '' : ', '}}</span></td>
          <td>{{article.created | date:'d MMM yyyy'}}</td>
          <td>{{article.status}}</td>
          <td class="action">
            <ul class="list-inline">
              <span reviews article="article"></span>
              <a href="/author/artcile/{{article.id}}" tooltip="Update Article"><span class="glyphicon glyphicon-edit"></span></a>
              <a href="" tooltip="{{article.paid ? 'Paid':'Make Payment'}}" ng-click="makePaymentModal(article)" data-ng-show="article.can_author_pay"><span class="glyphicon glyphicon-usd"></span></a>
            </ul>
          </td>
        </tr>
                
      </tbody>
    </table>
    <div data-ng-show="noarticles" class="well text-center">
      <p>No Articles Found!</p>
    </div>
  </div>
</div>