<ng-form name="newReviewerform">
	<ul class="row list-inline">
		<li class="col-xs-3">
			<input type="text" class="form-control" name="newReviewerFirstName" data-ng-model="newReviewer.first_name" maxlength="100" ng-required="showReviewerAddForm">
			<span data-ng-show="newReviewerformErrors && articleForm.newReviewerform.newReviewerFirstName.$invalid" class="text-danger">Field required</span>
		</li>
		<li class="col-xs-3">
			<input type="text" class="form-control" name="newReviewerLastName" data-ng-model="newReviewer.last_name" maxlength="100" ng-required="showReviewerAddForm">
			<span data-ng-show="newReviewerformErrors && articleForm.newReviewerform.newReviewerLastName.$invalid" class="text-danger">Field required</span>
		</li>
		<li class="col-xs-3">
			<input type="text" class="form-control" name="newRevieweraffiliation" data-ng-model="newReviewer.affiliation" maxlength="100" ng-required="showReviewerAddForm">
			<span data-ng-show="newReviewerformErrors && articleForm.newReviewerform.newRevieweraffiliation.$invalid" class="text-danger">Field required</span>
		</li>
		<li class="col-xs-3">
			<input type="email" class="form-control" name="newRevieweremail" data-ng-model="newReviewer.email"  maxlength="100" ng-required="showReviewerAddForm">
			<span data-ng-show="newReviewerformErrors && articleForm.newReviewerform.newRevieweremail.$invalid" class="text-danger">Invalid email</span>
		</li>
	</ul>
	<button type="button" data-ng-click="saveNewReviewer();">
		Save
	</button>
	<button type="button" ng-click="cancelNewReviewer()">
		Cancel
	</button>
</ng-form>
