<ng-form name="newAuthorform">
	<ul class="row list-inline">
		<li class="col-xs-3">
			<input type="text" class="form-control" name="newAuthorFirstName" data-ng-model="newAuthor.first_name" maxlength="100" ng-required="showAuthorAddForm">
			<span data-ng-show="newAuthorformErrors && articleForm.newAuthorform.newAuthorFirstName.$invalid" class="text-danger">Field required</span>
		</li>
		<li class="col-xs-3">
			<input type="text" class="form-control" name="newAuthorLastName" data-ng-model="newAuthor.last_name" maxlength="100" ng-required="showAuthorAddForm">
			<span data-ng-show="newAuthorformErrors && articleForm.newAuthorform.newAuthorLastName.$invalid" class="text-danger">Field required</span>
		</li>
		<li class="col-xs-3">
			<input type="text" class="form-control" name="newAuthoraffiliation" data-ng-model="newAuthor.affiliation" maxlength="100" ng-required="showAuthorAddForm">
			<span data-ng-show="newAuthorformErrors && articleForm.newAuthorform.newAuthoraffiliation.$invalid" class="text-danger">Field required</span>
		</li>
		<li class="col-xs-3">
			<input type="email" class="form-control" name="newAuthoremail" data-ng-model="newAuthor.email"  maxlength="100" ng-required="showAuthorAddForm">
			<span data-ng-show="newAuthorformErrors && articleForm.newAuthorform.newAuthoremail.$invalid" class="text-danger">Invalid email</span>
		</li>
	</ul>
	<button type="button" data-ng-click="saveNewAuthor();">
		Save
	</button>
	<button type="button" ng-click="cancelNewAuthor()">
		Cancel
	</button>
</ng-form>
