<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" data-ng-click="cancel();">
		<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
	</button>
	<h3 class="modal-title">Make a pyament</h3>
</div>
<div class="modal-body" style="min-height:200px;" dw-loading="articlePayment" dw-loading-options="{text: 'Initializing...'}">
	<div class="tab-content">
		<!--type-set-article-->
		<div>
			<div class="panel panel-default panel-owj">
				<div class="panel-body">
					<blockquote>
						<p>
							Use this form to make payment.
						</p>
					</blockquote>
					<div class='alert-danger alert' data-ng-show='paymentError'>
						An error occurred while initializing payment.
					</div>
					<div class='alert-warning alert' data-ng-show='redirect'>
						Do not click browser's refresh or back button. You will be now redirected to merchant's site.
					</div>					
					<div class="form-group">
						<div class="col-sm-3 col-xs-12">
							Article title:
						</div>
						<div class="col-sm-9 col-xs-12">
							{{article.title}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4 col-sm-push-8 col-xs-12 text-right">
							<button type="button" data-ng-click="initPyament(article)" class="btn btn-primary" ng-disabled="doPayment || redirect">
								Make pyament
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

