/* Sticky footer styles
-------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,900,500,100,300);
/*bootstrap reset*/
html,
body {
  height: 100%;
  font-size:17px;
}
.well{background-color:transparent;border:none;box-shadow:none;margin-bottom:0px;}
.navbar{border-radius:0px;}
.page-header{ margin: 20px 0 10px;}
.alert{margin-bottom:1px;}
.btn{border-radius:0px;}
/*website level general styling*/
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
*{font-family: 'Roboto', sans-serif;}
.ft-ty{font-size: 13px;}
.ft-sm{font-size: 15px;}
.ft-nm{font-size: 17px;}
.ft-lg{font-size: 18px;}
.bold{font-weight:700;}
.glyphicon{color:#86A9B6}

.sort-keys .glyphicon{font-weight:400;font-size:10px;}

.select2Ui{width:100%;}

/* to stick the footer to bottom*/
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -60px;
}
.footer, .push {
height: 60px;
}

/*panels*/
.panel-owj{
	border-radius:0px;
}
.panel-owj > .panel-heading {
  background-color: #E1EFEF;
  border-color: #FBFBFB;
  color: #333;
}
.panel-borderless{box-shadow: none;border-color:transparent;margin-bottom:0px;}
.panel-borderless > .panel-heading{ background-color:transparent;}



.owj-title{margin:0px;}
.left-panel{
background: #f9f9f9; /* Old browsers */
background: -moz-linear-gradient(left, #f9f9f9 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f9f9f9), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #f9f9f9 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #f9f9f9 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #f9f9f9 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to right, #f9f9f9 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.left-panel{border-right-width:1px;border-right-style:solid;border-radius:0px;border-right-color:#F6F6F6}

.status, .date{font-size:15px;font-weight:400;}

.form-control-feedback-ajax-loader {
  position: absolute;
  right: 15px;
  text-align: center;
  top: 4px;
  z-index: 2;
}
/* table */
.thead-owj{background-color:#f8f8f8}
.table td.title{max-width:250px;}
/* modal box */
.modal-footer{background-color:#F8F8F8}
.modal-header{background-color:#2d609e;color:#fff;padding:10px;}
.modal-content{border-radius:0px;}
.modal-title{font-size: 18px;}
.modal-body{padding:10px;}
.modal-body > .nav > li > a{padding-top:5px;padding-bottom:5px;}

/*alert box*/
.alert{padding:10px;font-size:15px;}
.alert-dismissable .close, .alert-dismissible .close{right:-2px;}

/*banner area*/
#main-search-input{border-radius:15px;}
.navbar.banner, .navbar{margin-bottom:0px;}
.banner{background-color:#fff;}
.navbar-brand{padding:0px;}
.navbar-brand #banner-logo{height:100%}
/*main menu */
#main-menu.navbar{
	background-color:#2d609e;border-color:#1A385C;border-width:0px;border-top-width:2px;
}
#main-menu.navbar-default .navbar-nav > li > a {
  color: #fff;
}
#main-menu.navbar-default .navbar-nav > .active > a, #main-menu.navbar-default .navbar-nav a:hover{
  background-color: #0c3b73;
}
/*sub menu */

#sub-nav-bar{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#efefef 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */	
}

#sub-nav-bar ul li{border-right-width:1px;border-right-color:#6a6a6a;border-right-style:solid;}
#sub-nav-bar ul li:last-child {border: medium none;}
#sub-nav-bar #main-searchbtn{border-radius:15px;}

.sub-menu-stacked li a, .sub-menu-stacked li.active a{background-color: transparent;border-radius:0px;
border-bottom-width:1px;border-bottom-style:solid;
border-bottom-color: #e8e8e8; /* Old browsers */
border-bottom-color: -moz-linear-gradient(left, #e8e8e8 0%, #f6f6f6 100%); /* FF3.6+ */
border-bottom-color: -webkit-gradient(linear, left top, right top, color-stop(0%,#e8e8e8), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
border-bottom-color: -webkit-linear-gradient(left, #e8e8e8 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
border-bottom-color: -o-linear-gradient(left, #e8e8e8 0%,#f6f6f6 100%); /* Opera 11.10+ */
border-bottom-color: -ms-linear-gradient(left, #e8e8e8 0%,#f6f6f6 100%); /* IE10+ */
border-bottom-color: linear-gradient(to right, #e8e8e8 0%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 */
}
.sub-menu-stacked li.active a:focus, .sub-menu-stacked li.active a:hover{background-color:#EEE}
#sub-menu li a, #sub-menu li.active a:focus, #sub-menu li.active a:hover{background-color:transparent}
#sub-menu li.active a, #sub-menu li a:hover{color:#166cd2;text-decoration: none;}
#sub-menu a{color:#6a6a6a;padding-top:0px;padding-bottom:0px;}


/*base page container*/
.container-base{
	padding-left:0px;
	padding-right:0px 
}

/*tables*/
tbody tr {color:#4b4b4c;}
tbody tr a{color:#4b4b4c;}
tbody tr a:hover{color:#4b4b4c;text-decoration:none}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #E6F2F7;
}
.table-hover > tbody > tr:hover > td {background-color:#D7ECF4;}


/*Articles page*/
#issue-search-title{color:#AAAAAA}
.panel-articles .panel-body{padding:0px;}
.panel-articles{border-radius:0px;border:none;}
.panel-articles .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.artcile-shortcut-links li a{color:#3F789A}
#panel-articles .panel-body{padding:0px;}
#panel-articles ul{margin-bottom:0px;}
.article-search-form label{color:#aaaaaa;font-size:15px}

/*Article detail page*/
#pdf-download-button .glyphicon{font-size:30px;}

/* article create page */
.user-info-table li{padding-left:2px;padding-right:2px;}


/*
	reviewers popup
*/
#add-reviewer-panel .left-nav{
	border-right:1px solid #f6f6f6;
	background: linear-gradient(to right, #f9f9f9 0%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#add-reviewer-panel .left-nav .sub-nav a {
  color: #6a6a6a;
  padding-bottom: 10px;
  padding-top: 10px;
}
#add-reviewer-panel .left-nav .sub-nav li.active a, #add-reviewer-panel .left-nav .sub-nav li a:hover {
  color: #166cd2;
  text-decoration: none;
}
.reorder{
	cursor:move;
}
